.history {
  padding: 12px;
  .code {
    word-break: break-all;
    white-space: break-spaces;
  }
  .section-operation {
    padding-bottom: 12px;
  }
  // 记录项顶部操作
  .top {
    .pointer {
      cursor: pointer;
    }
    .rv-tag:not(:last-child) {
      margin-right: 5px;
    }
  }
  .json-popup {
    // 弹窗样式
    border-radius: 10px;
    padding: 10px;
    overflow-y: hidden;
    // JSON 预览样式
    .virtual-mode {
      border: none;
    }
  }
}
