$primaryColor: var(--rv-primary-color);

.x-side-menu {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__item {
    box-sizing: border-box;
    width: 100%;
    line-height: 1;
    padding: 10px;
    background: #fff;
    color: #333;
    transition: all 0.2s ease;
    cursor: pointer;
    border-top-right-radius: var(--rv-border-radius-max);
    border-bottom-right-radius: var(--rv-border-radius-max);
    &--active {
      background: $primaryColor;
      color: #fff;
    }
    &:hover {
      background: $primaryColor;
      color: #fff;
    }
  }
}
